.row{
    padding: 5px 0px;
}

body{
    background-image: url(../background.jpg);
    background-size: cover,cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
    background-color: transparent, #43d7e8, transparent;
}

@font-face {
    font-family: pacifico;
    src: url(../Pacifico-Regular.ttf);
}

@font-face {
    font-family: cutive;
    src: url(../CutiveMono-Regular.ttf);
}

#title{
	font-size: 55px;
	color: white;
    font-family: pacifico;
}

#desc{
    font-size: 24px;
    padding-bottom: 5px;
    color: white;
    font-family: cutive;
}

#transcript{
	margin-top: 20px;
    background-color: none;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    font-family: cutive;
    font-weight:bolder;
}

#ilogo{
	width: 400px;
	height: auto;
}

#logo{
    padding-bottom: 0;
}

.searchbar{
	width: 56%;
	border-radius: 8px;
	size: 20px;
}

::-webkit-input-placeholder {

	text-align: center; 
    font-size: 18px;
    font-family: fantasy;
    
}
::-moz-placeholder { 
	text-align: center; 
    font-size: 18px;
    font-family: fantasy;
} 
:-ms-input-placeholder { 
	text-align: center;
    font-size: 18px;
    font-family: fantasy;
}
input:-moz-placeholder { 
	text-align: center;
    font-size: 18px;
    font-family: fantasy;
}
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;

	text-align: center;
}
::-moz-placeholder {
	text-align: center;
}
:-ms-input-placeholder {
	text-align: center;
}
input:-moz-placeholder {
	text-align: center;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;

}

.videoWrapper iframe {
    position: absolute;
    top: 17%;
    left: 17%;
    width: 66%;
    height: 66%;

}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(255,255,255, 0.3);
  -webkit-border-radius: 100px;
    opacity: 1.0;   
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

background: linear-gradient(45deg, white, silver);
min-height: 100%;